<html>
  <head>
    <title>
      Product Backlog
    </title>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <link href="/assets/todostyles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Product BackLog</h1>
    <div id="todo-table">
      <form>
        <input type="text" name="item" placeholder="Add new Item .." required />
        <button type="submit">Add Item</button>
      </form>
      <ul>
        <% for(var i=0; i<list.length; i++) { %>
            <li> <%= list[i].item %></li>
        <%}%>
      </ul>
    </div>
  </body>
</html>
